order-management/state-machines/create-order.asl.json
{
  "Comment": "Create new order",
  "StartAt": "Validate order",
  "States": {
    "Validate order": {
      "Type": "Choice",
      "Choices": [
        {
          "And": [
            {
              "Variable": "$.product",
              "IsString": true
            },
            {
              "Variable": "$.quantity",
              "IsNumeric": true
            },
            {
              "Variable": "$.quantity",
              "NumericGreaterThan": 0
            },
            {
              "Variable": "$.amount",
              "IsNumeric": true
            },
            {
              "Variable": "$.amount",
              "NumericGreaterThan": 0
            }
          ],
          "Next": "Make order data"
        }
      ],
      "Default": "Order invalid"
    },
    "Order invalid": {
      "Type": "Fail",
      "Error": "order_invalid",
      "Cause": "Order invalid"
    },
    "Make order data": {
      "Type": "Pass",
      "Next": "Create order",
      "Parameters": {
        "order": {
          "id.$": "States.UUID()",
          "product.$": "$.product",
          "quantity.$": "$.quantity",
          "amount.$": "$.amount",
          "status": "new",
          "created_at.$": "$$.Execution.StartTime"
        }
      }
    },
    "Create order": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:putItem",
      "Parameters": {
        "TableName": "${OrderTableName}",
        "Item": {
          "id": {
            "S.$": "$.order.id"
          },
          "product": {
            "S.$": "$.order.product"
          },
          "quantity": {
            "N.$": "States.Format('{}', $.order.quantity)"
          },
          "amount": {
            "N.$": "States.Format('{}', $.order.amount)"
          },
          "status": {
            "S.$": "$.order.status"
          },
          "created_at": {
            "S.$": "$.order.created_at"
          }
        }
      },
      "Next": "Put event",
      "ResultPath": null,
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "Create order failed"
        }
      ]
    },
    "Put event": {
      "Type": "Task",
      "Resource": "arn:aws:states:::events:putEvents",
      "Parameters": {
        "Entries": [
          {
            "Detail": {
              "order.$": "$.order"
            },
            "DetailType": "order_created",
            "EventBusName": "${EventBusName}",
            "Source": "order_management"
          }
        ]
      },
      "Next": "Success",
      "ResultPath": null
    },
    "Create order failed": {
      "Type": "Fail",
      "Error": "create_order_failed",
      "Cause": "Create order failed"
    },
    "Success": {
      "Type": "Succeed"
    }
  }
}